In [ ]:
#Question 1
#List Comprehensions
x = input()
y = input()
z = input()
n = input()
x, y, z, n = int(x), int(y), int(z), int(n)
print([[i, j, k] for i in range(0, x+1) for j in range(0, y+1) for k in range(0, z+1) if (i + j + k) != n])

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [ ]:
#Question 2
#Find the Runner-Up Score!
n = input()
n = int(n)
a = map(int, input().split())
a = set(a)
a = list(a)
a.remove(max(a))
print(max(a))

5
2 3 6 6 5
5

In [ ]:
#Question 3
#Nested Lists
n = input()
n = int(n)
names = []
scores = []
for i in range(0, n):
  names.append(input())
  score = input()
  scores.append(float(score))
low = set(scores)
low = list(low)
low.remove(min(low))
sec = min(low)
p = []
for i in range(len(names)):
  if scores[i] == sec:
    p.append(names[i])
p = sorted(p)
for i in p:
  print(i)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [ ]:
#Question 4
#Finding the percentage
n = input()
n = int(n)
student_marks = {}
for i in range(n):
  line = list(input().split())
  name, scores = line[0], line[1:]
  student_marks[name] = scores
out = input()
for key, value in student_marks.items():
  if key == out:
    avg = sum([float(i) for i in value]) / len(value)
    print("{:.2f}".format(avg))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

In [11]:
#Question 5
#Lists
n = input()
n = int(n)
arr = []
for i in range(n):
  a = list(input().split())
  if a[0] == 'insert':
    arr.insert(int(a[1]), int(a[2]))
  elif a[0] == 'print':
    print(arr)
  elif a[0] == 'remove':
    arr.remove(int(a[1]))
  elif a[0] == 'append':
    arr.append(int(a[1]))
  elif a[0] == 'sort':
    arr.sort()
  elif a[0] == 'pop':
    arr.pop()
  elif a[0] == 'reverse':
    arr.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [13]:
#Question 6
#Tuples
n = input()
n = int(n)
arr = tuple(map(int, input().split()))
print(hash(arr))

2
1 2
3713081631934410656

In [15]:
#Question 7
#Introduction to Sets
n = input()
n = int(n)
arr = set(map(int, input().split()))
avg = sum(list(arr)) / len(list(arr))
print("%.3f"%avg)

10
161 182 161 154 176 170 167 171 170 174
169.375

In [26]:
#Question 8
#No Idea!
arr = list(map(int, input().split()))
n, m = arr[0], arr[1]
ar = list(map(int, input().split()))
a = list(map(int, input().split()))
b = list(map(int, input().split()))
c = [1 if i in a else -1 if i in b else 0 for i in ar]
print(sum(c))

3 2
1 5 3
3 1
5 7
1

In [31]:
#Question 9
#Symmetric Difference
m = input()
m = int(m)
arrm = set(map(int, input().split()))
n = input()
n = int(n)
arrn = set(map(int, input().split()))
r1 = list(arrm.difference(arrn))
for i in arrn.difference(arrm):
  r1.append(i)
r1.sort()
for i in r1:
  print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

In [32]:
#Question 10
#Set .add()
n = input()
n = int(n)
s = set()
for _ in range(n):
  i = input()
  s.add(i)
print(len(s))

7
UK
China
USA
France
New Zealand
UK
France
5

In [34]:
#Question 11
#Set .discard(), .remove() & .pop()
_ = input()
s = set(map(int, input().split()))
n = input()
n = int(n)
for i in range(n):
  f = list(input().split())
  if f[0] == 'pop':
    s.pop()
  elif f[0] == 'remove':
    s.remove(int(f[1]))
  elif f[0] == 'discard':
    s.discard(int(f[1]))
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

In [37]:
#Question 12
#Set .union() Operation
_ = input()
arrn = set(map(int, input().split()))
_ = input()
arrb = set(map(int, input().split()))
r = arrn.union(arrb)
print(len(r))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

In [38]:
#Question 13
#Set .intersection() Operation
_ = input()
arrn = set(map(int, input().split()))
_ = input()
arrb = set(map(int, input().split()))
print(len(arrn.intersection(arrb)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

In [39]:
#Question 14
#Set .difference() Operation
_ = input()
arrn = set(map(int, input().split()))
_ = input()
arrb = set(map(int, input().split()))
print(len(arrn.difference(arrb)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

In [40]:
#Question 15
#Set .symmetric_difference() Operation
_ = input()
arrn = set(map(int, input().split()))
_ = input()
arrb = set(map(int, input().split()))
print(len(arrn.symmetric_difference(arrb)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

In [46]:
#Question 16
#Set Mutations
_ = input()
a = set(map(int, input().split()))
n = input()
n = int(n)
for i in range(n):
  f = list(input().split())
  s = set(map(int, input().split()))
  if f[0] == 'intersection_update':
    a.intersection_update(s)
  elif f[0] == 'update':
    a.update(s)
  elif f[0] == 'symmetric_difference_update':
    a.symmetric_difference_update(s)
  elif f[0] == 'difference_update':
    a.difference_update(s)
print(sum(a))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [54]:
#Question 17
#The Captain's Room
k = input()
k = int(k)
a = list(map(int, input().split()))
s = set(a)
r = [i for i in s if a.count(i) == 1]
print(r[0])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [55]:
#Question 18
#Check Subset
n = input()
for i in range(int(n)):
  _ = input()
  a = set(map(int, input().split()))
  _ = input()
  b = set(map(int, input().split()))
  c = a.difference(b)
  if len(c) == 0:
    print(True)
  else:
    print(False)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

In [58]:
#Question 19
#Check Strict Superset
a = set(map(int, input().split()))
n = input()
sc = []
for i in range(int(n)):
  s = set(map(int, input().split()))
  r = s.difference(a)
  if len(r) == 0:
    sc.append(True)
  else:
    sc.append(False)
if False in sc:
  print(False)
else:
  print(True)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False